#conv_submit {
  float: right;
  font-family: "Font Awesome 5 Free", monospace;
  font-weight: 900;
  font-size: 38px;
  margin-top: -69px;
  position: relative;
  right: 6px;
}

#msg-conversation ul, #msg-conversation ul li, #msg-conversation ul li span, #conversation-list ul, #conversation-list ul li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#msg-conversation {
  height: 100px;
  overflow: auto;
  background-color: #fff;
}

#conversation-list li.active {
  background-color: #dbd7d1;
  border-radius: 4px;
}

#conversation-list li.active a, #conversation-list li.active a:active, #conversation-list li.active a:focus {
  outline: 0 !important;
}

#msg-conversation ul {
  padding: 0;
  border-radius: 6px;
}

#msg-conversation div.loader {
  padding: 10px;
  text-align: center;
}

#msg-conversation div.loader i {
  color: var(--fs-brown);
  font-size: 20px;
}

#msg-conversation span.img {
  float: left;
}

#msg-conversation span.time {
  font-size: 13px;
  color: #533a20;
  margin-top: 4px;
}

#msg-conversation li.my-message span.time {
  color: var(--fs-brown);
}

#msg-conversation span.body {
  border-radius: 6px;
  background: none repeat scroll 0 0 #e1e1db;
  margin-left: 50px;
  min-height: 35px;
  padding: 6px;
  position: relative;
  color: var(--fs-brown);
}

#msg-conversation li.my-message span.body {
  background: none repeat scroll 0 0 var(--fs-beige);
  margin-left: 0px;
  margin-right: 50px;
  color: var(--fs-brown);
}

#msg-conversation li.my-message span.img {
  float: right;
}

#msg-conversation span.body:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 9px 8px 0;
  border-color: transparent #e1e1db;
  display: block;
  width: 0;
  z-index: 1;
  left: -9px;
  top: 8px;
}

#msg-conversation li.my-message span.body:after {
  border-width: 8px 0 8px 9px;
  border-color: transparent var(--fs-beige);
  left: unset;
  right: -9px;
}

#msg-conversation ul li {
  margin-top: 0;
  padding: 10px;
  border-radius: 6px;
}

#msg-conversation ul li:first-child {
  margin-top: 0;
}

#msg_answer {
  height: 40px;
  width: 97%;
}

#msg-conversation-title .images {
  float: right;
  text-align: right;
}

#msg-conversation-title img {
  border-radius: 4px;
  height: 22px;
  margin: 0 0 -4px 0;
}

#msg-conversation-title a {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 2px -4px 0;
  padding: 0;
}

#msg-conversation-title, #msg-conversation-title i {
  color: #fff;
}

ul.conversation-list > li.unread-1 {
    background-color: #dbd7d1;
    border: 1px solid #533a20;
    border-radius: 4px;
}

@media all and (max-width: 600px) {
  body {
    overflow-x: hidden !important;
  }

  #right.list-active {
    display: none;
  }

  #msg-conversation-wrapper {
    max-height: 100vh;
    margin: 0;
    padding-top: 30px;
  }

  #msg-conversation {
    overflow: hidden;
  }

  #main .inside {
    padding: 0;
    margin: 0;
  }

  ul.bread,
  .inner.broadcast-message {
    display: none;
  }

  #msg_answer,
  #conv_submit,
  #msg-conversation-wrapper,
  #msg-conversation.corner-all {
    border-radius: 0;
  }

  #msg_answer-wrapper {
    padding: 0;
    border: 0;
    margin: 0;
  }

  #msg-conversation-wrapper .field {
    height: auto;
  }

  #msg-conversation-wrapper .field .ui-widget-header {
    padding: 0.5rem 0.75rem;
  }
  #msg-conversation-wrapper .field .ui-widget-content {
    padding: 15px 0;
  }

  #msg-conversation-wrapper .field .head {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: #dbd7d1;
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
  }

  #msg-conversation-wrapper .field .head .images {
    padding-right: 0.75rem;
    max-width: 48px;
    overflow: hidden;
    height: 22px;
  }

  #msg-conversation-title {
    color: var(--fs-brown);
  }

  #msg_answer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem - 20px - 15px) !important;
    height: 34px;
    z-index: 10;
  }

  #conv_submit {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    margin: 0;
    font-size: 2rem;
  }

  #msg-conversation ul {
    margin-bottom: 45px;
  }

  #msg-conversation ul li {
    padding: 0;
    margin: 10px 15px 0 8px;
    overflow: hidden !important;
  }
}
